{% extends "core/base.html" %}
{% block titulo %}
    Pablo Martínez Roca
{% endblock titulo %}
{% block encabezado %}
    <h1>Portafolio</h1>
    <span class="subheading">Curriculum</span>
{% endblock encabezado %}
{% block background %}
    {% load static %}
    {% static 'core/img/portfolio-bg.jpg' %}
{% endblock background %}
{% block contenido %}
    <!-- Contenido Principal -->
    <div class="container">

        {% for project in projects %}
        
        <!-- Proyecto -->
        <div class="row project">
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{ project.imagen.url }}" alt="" width="auto" height="auto" />
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{ project.titulo }}</h2>
                <p>{{ project.descripcion }}</p>
                <p>
                    {% if project.link %}
                    <a href="{{ project.link }}" target="_blank">Más información</a>
                    {% endif %}
                </p>
            </div>
        </div>

        {% endfor %}
    </div>
{% endblock contenido %}
